<!DOCTYPE html>
<html>
  <head>
    <!-- Probably always a good idea to be utf-8 -->
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- So iPads can view the app in full screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- This prevents Internet Explorer from entering 'quirks' mode -->
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <!-- Change the title to one for your own country -->
    <title>2050 Pathways Calculator</title>
    <!-- assets is a function definied in the Helper module in src/server.rb --> 
    <link href='/assets/<%= assets['application.css']%>' media='screen' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- 
    <link rel="stylesheet" href='/assets/<%= assets['BootSideMenu.css']%>' media='screen' type='text/css' />
    -->
    <script src='/assets/<%= assets['application.js']%>' type='text/javascript'></script>
    <!-- Change the Google Analytics code to one for your own country-->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17161700-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <style rel="stylesheet" type="text/css">
    .bootsidemenu {
    z-index: 999999;
    position: fixed;
    top: -1px;
    bottom: -1px;
    padding: 0;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.bootsidemenu > .menu-wrapper {
    padding: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    overflow: auto;
	width: 100%;
}

.bootsidemenu > .row {
    margin: 0;
}

.bootsidemenu {
    /*width: auto;*/
	min-width: unset;
}

.bootsidemenu.bootsidemenu-left {
    left: 0;
    right: auto;/*20px;*/
}

.bootsidemenu.bootsidemenu-right {
    right: 0;
    left: auto;/*20px;*/
}


.toggler {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    width: 20px;
    height: 48px;
    position: absolute;
    top: 47%;
    cursor: pointer;
	background-color: #fff;
}

.bootsidemenu-left > .toggler {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #fff;
    -webkit-box-shadow: 1px 0px 8px rgba(0, 0, 0, .175);
    box-shadow: 1px 0px 8px rgba(0, 0, 0, .175);
    right: -20px;
}

.bootsidemenu-left > .toggler > span {
    margin: 15px 2px;
}

.bootsidemenu-right > .toggler {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #fff;
    -webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, .175);
    box-shadow: -1px 0px 8px rgba(0, 0, 0, .175);
    left: -20px;
}

.bootsidemenu-right > .toggler > span {
    margin: 15px 2px;
}

/*Native BootStrap Hack*/
.bootsidemenu .list-group-item:last-child, .bootsidemenu .list-group-item:first-child {
    border-radius: 0;
}

.bootsidemenu .list-group {
    margin-bottom: 0;
}

.bootsidemenu .list-group-item {
    border: 1px solid #DDD;
    border-left: 0;
    border-right: 0;
    margin-bottom: 0;
    margin-top: -1px;
}

.list-group .collapse a {
    padding-left: 25px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}


/*==========  Media queries for test ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .bootsidemenu {
        min-width: 200px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .bootsidemenu {
        min-width: 90%;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
  
    </style>
    <style>
      .accordion-toggle:hover {color:#000; text-decoration: none; cursor: pointer;}
      .accordion-toggle {color:#000; text-decoration: none; cursor: pointer;}
      .accordion-content {display: none;}
      .accordion-content.default {display: block; padding-left:10px;}  
    </style>
  </head>
  
  <body>

    <!-- Other countries may want to delete this warning. It is hidden initially by css in src/stylesheets/body.css
      Code in the checkSVGWorks function in src/javascripts/controller.js checks if the user's web browser 
      supports SVG and, if it doesn't, shows this div.  -->
    <div id='svgWarn'>
      This interface requires <a href='http://caniuse.com/#cats=SVG'>a browser that supports SVG.</a> it seems like your browser doesn't support SVG. We have an <a href='http://uk-old.2050.org.uk'>old version of this calculator</a> that may work for you. Alternatively you can download <a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/140'>an excel version.</a>
      <p>
        <a href='#' onclick="$('#svgWarn').hide()">Hide this message.</a>
      </p>
    </div>

    <div id='topbar'>

      <div id='name'>
        <!-- Change this to link to your country website -->
        <a href='http://www.decc.gov.uk/2050'>The UK 2050 Calculator</a>
      </div>

      <div id='examples'>
        <a class='newdropdown' data-dropdown='#savedpathway_choices' href='#'>Examples</a>
        <!-- the contents of this dropdown is defined in the #savedpathway_choices div below -->
      </div>

      <!-- To add or remove views from the web tool, alter the following section -->
      <div id='views'>
        <a class='view' data-view='primary_energy_chart' href='#'>Energy</a>
        <a class='view' data-view='electricity' href='#'>Electricity</a>
        <a class='view' data-view='energy_security' href='#'>Security</a>
        <a class='view' data-view='sankey' href='#'>Flows</a>
        <a class='view' data-view='map' href='#'>Map</a>
        <a class='view' data-view='story' href='#'>Story</a>
        <a class='newdropdown' data-dropdown='#cost_choices' href='#' id='cost_choice'>Costs</a>
        <a class='view' data-view='air_quality' href='#'>Air</a>
        <a class='view' data-view='share' href='#'>Share</a>
        <!-- Change this to link to your own country website documentation -->
        <a href='http://2050-calculator-tool-wiki.decc.gov.uk'>Docs</a>
      </div>
    </div>

    <div class='dropdown' id='cost_choices'>
      <a class='view' data-view='costs_in_context' href='#'>In context</a>
      <a class='view' data-view='costs_compared_overview' href='#'>Compared</a>
      <a class='view' data-view='costs_sensitivity' href='#'>Sensitivity</a>
    </div>

    <div class='dropdown' id='savedpathway_choices'>
      <!-- These are taken from the underlying spreadsheet -->
      <% structure.example_pathways.each do |pathway| %>
        <a href='#' onclick="twentyfifty.switchPathway('<%= pathway[:code] %>');$('ul#savedpathway_choices').toggle()"><%= pathway[:name] %></a>
      <% end %>
      <!-- Change this to point to your local website -->
      <a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/122'>More&hellip;</a>
    </div>
    <!-- This appears while the tool is waiting for data from the server -->
    <div id='calculating'>
      <span>Calculating</span>
    </div>
    <!-- / The charts will be drawn in this block -->
    <div id='results'></div>
    <!-- / bof navpanel -->
    <div id='lever_nav_panel'>
    <!-- / These are the controls -->
    <div id='classic_controls'>
      <div id='accordion'>
      <!-- The left column -->
      <h4 class= "accordion-toggle">Demand</h4>
      <div id='demand' class="accordion-content default">
        <table>
	  	  <tr class='menuWidth'>
	    <td class='name'>
	    </td>
	    <td class='menuLevelWidth'>
	    </td>
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	  </tr>

          <!-- One row per choice -->
          <% structure.choices[21..34].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
		<a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>' title= '<%= choice.name %>' class='leverNameLink'>
                  <%= choice.name %>
                </a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>

		<% if i == 3 %>
	      <td class='choice2'>
		<img src="/assets/images/sliders-h.svg" alt="custom-level" width = "16">
		  </td>

		  <% end %>
		  <% end %>
            </tr>
            <% end %>
	</table>
	<a href="#" class= "accordion-toggle">COMMERCIAL</a>
        <div class="accordion-content default">
	  <table>
	    	  <tr class='menuWidthL2'>
	    <td class='nameL2'>
	    </td>
	    <td class='menuLevelWidth'>
	    </td>
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	  </tr>

            <% structure.choices[35..39].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name nameL2'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>' title= '<%= choice.name %>' class='leverNameLink'>
                  <%= choice.name %>
                </a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
		</td>
		<% if i == 3 %>
	      <td class='choice2'>
		<img src="/assets/images/sliders-h.svg" alt="custom-level" width = "16">
		  </td>
		<% end %>			      
	      <% end %>
            </tr>
            <% end %>

        </table>
	</div>
      </div>
      <!-- The middle column -->
      <h4 class= "accordion-toggle">Supply</h4>
      <div id='supply' class="accordion-content default">
        <table>
	  	  <tr class='menuWidth'>
	    <td class='name'>
	    </td>
	    <td class='menuLevelWidth'>
	    </td>
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	  </tr>
          <% structure.choices[0..20].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>' title= '<%= choice.name %>' class='leverNameLink'>
                  <%= choice.name %>
                </a>
              </td>

              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
		<% if i == 3 %>
	      <td class='choice2'>
		<img src="/assets/images/sliders-h.svg" alt="custom-level" width = "16">
		  </td>
		  <% end %>
		  		<% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- The right column -->
      <h4 class= "accordion-toggle">Other</h4>
      <div id='other' class="accordion-content default">
        <table>
	  <tr class='menuWidth'>
	    <td class='name'>
	    </td>
	    <td class='menuLevelWidth'>
	    </td>
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	    <td class='menuLevelWidth'>
	    </td>	    
	  </tr>
	      <!-- this should actually go up to choice 42, but that isn't ready for prime time yet -->
          <% structure.choices[40..41].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>' title= '<%= choice.name %>' class='leverNameLink'>
                  <%= choice.name %>
                </a>
              </td>

              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>

		<% if i == 3 %>
	      <td class='choice2'>
		<img src="/assets/images/sliders-h.svg" alt="custom-level" width = "16">
		  </td>
		  <% end %>
		  		<% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- The Legend column -->
      <h4 class= "accordion-toggle">Legend</h4>
      <div id='other' class="accordion-content default">
              <!-- <h4>Notes</h4> -->
        <table id='notes'>
          <tr><td id='firstcell'><div class='help'>?</div></td><td>Question marks take you to one page descriptions of each choice</td></tr>
          <tr><td><div class='level1'>1</div></td><td>The least effort possible on this choice.</td></tr>
          <tr><td><div class='level2'>2</div></td><td>Viewed as ambitious, but reasonable by most experts.</td></tr>
          <tr><td><div class='level3'>3</div></td><td>Viewed as unlikely without significant change from the current system and/or significant technological breakthroughs</td></tr>
          <tr><td><div class='level4'>4</div></td><td>The upper end of what is thought to be physically plausible by the most optimistic observer.</td></tr>
          <tr><td><div class='alternate'>A</div>&ndash;<div class='alternate'>D</div></td><td>A range of options where one alternative is not neccesiarily harder than another</td></tr>
          <tr class='primary_energy_notes'><td>Total used in the UK<sup>1</sup></td><td>Primary energy supply is normally higher than final energy demand, because of the energy used to generate electricity.</td></tr>
          <tr class='primary_energy_notes'><td>Targets<sup>2</sup></td><td>The targets up to 2027 exclude international aviation and shipping. They are also calculated as five year 'budgets', rather than the single year targets shown here.</td></tr>
          <tr class='primary_energy_notes'><td>Total<sup>3</sup></td><td>The total includes the reduction in emissions from carbon capture and storage and from growing new biomass to replace that used (the bioenergy credit).</td></tr> 
      </table>
      </div>
      <!-- /accordion -->
      </div>
      </div>
    <!-- / eof navpanel -->
    </div>
    <!-- This is needed to show the tooltips, don't remove -->
    <div id='tooltip'></div>
    <div id='footer'>
      <!-- Change this to link to your country's website -->
      All the assumptions and calculations are available in a spreadsheet. Download <a href='/model.xlsx'>Excel <%= structure.reported_calculator_version %> <%= %></a> (<a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/140'>Version history</a>). The source code for this site is available under an open source licence from <a href='http://github.com/decc/twenty-fifty'>http://github.com/decc/twenty-fifty</a>
    </div>
    <!-- The following html is only displayed on screen when a user selects a particular view -->
    <div id='snippets'>
      <!-- This is shown the first time a user visits a costs page -->
      <div id='cost_caveats'>
        We would like your help to develop this tool. Please <a href="http://2050-calculator-tool-wiki.decc.gov.uk">click here</a> to find out more about our methodology and suggest improvements.  Before viewing the cost implications of your choices, please note that: 
          <ol>
            <li> The Calculator expresses pathway costs as 'average pounds per person per year'. This is not the same as your energy bill. It is the cost of everything the UK buys that makes, converts, saves or uses energy: from kettles and insulation foam to trains and power stations. You can choose to see the results in different units when using the <a href=\"http://www.decc.gov.uk/2050\">excel version of the Calculator.</a> </li>
            <li>The Calculator does not choose any options automatically, regardless of their cost.</li>
            <li> The Calculator uses forecasts from credible sources of how technology and fuel costs might rise or fall over time. You vary these forecasts using the <a href="#" onclick="twentyfifty.switchView('costs_sensitivity'); return false;">cost sensitivity</a> implication from the menu on the top left. The full set of data points is available on the <a href="http://2050-calculator-tool-wiki.decc.gov.uk">wiki.</a> </li>
            <li>The cost of not tackling climate change is not included in the Calculator. The Stern review estimated that failing to tackle climate change could reduce global GDP by up to 20%. This is the equivalent of up to &pound;6,500 per person per year on average, on top of the cost of the energy system.</li>
            <li>Some other important effects have been excluded from the Calculator. The costs of travelling less or with different modes of transport, having colder homes or fewer goods, and changing the appearance of our houses or landscape are not included. Nor are profits, taxes, subsidies or economies of scale driven by pathway choices. The Calculator includes only the physical costs of constructing, operating and fuelling equipment.</li>
            <li>Costs are just one feature for comparing 2050 pathways. The Calculator provides information on other impacts, as well as some illustrative pathways to compare your choices with.</li>
          </ol>
          <div id='understand'>
            <a href="#" onclick="$.jStorage.set('CostCaveatShown',true);$('#cost_caveats').hide(); return false;">Click to continue using the calculator</a>
          </div>
        </div>
        <div id='air_quality_results'>
          <div class='airquality'>
            <h1>The impact of your pathway on air quality</h1>
            <div class='airqualitymessage' id='airqualitymessage'>
              The damage to human health arising from air pollution from this pathway, principally particulate matter, could be around <span id='airquality_range_start'></span><span id='airquality_range_end'></span> in 2050 compared to 2010. <span id='air_quality_worse'> Given the scope for adverse implications for air quality, if the UK were to adopt this pathway the Government  would develop a policy framweork that supported the innovation required to be at the bottom end of the range</span>
          </div>
            <div id='airquality'></div>
            <div class='airqualitymessage'>
              <h2>How to interpret these results:</h2>
              <ul>
                <li>Air pollution health impact index &mdash; this index measures the effect on human health from fine particulate matter and other air pollutants such as nitrogen oxides.  For example, these pollutants have been linked to premature death caused by heart and lung disease. 2010 is the baseline year (100). A number lower than 100 indicates a reduction in average air pollution and associated health impacts, whilst a higher number indicates an increase. This index reflects changes in the average concentration of air pollutants across the UK.  It does not provide information on the number or severity of pollution hotspots.</li>
                <li>High end of hatched range &mdash; worst case scenario for air pollution whereby there is no further deployment or innovation in pollution abatement technology between now and 2050 beyond planned measures.</li>
                <li>Low end of hatched range &mdash; best case scenario whereby innovation radically improves pollution abatement technology between now and 2050 and it is fully deployed.</li>
              </ul>
              <p>
              We would welcome your feedback on the
              <a href="http://2050-calculator-tool-wiki.decc.gov.uk/pages/80">methodology</a> used to calculate the impact of your pathway on air quality.
              You can also download the excel version of the 2050 pathways calcualtor to see the different types of air pollution and the relative importance of different sources.
              </p>
            </div>
          </div>
        </div>
        <div id="energysecurity">
          <div id="balancing" class="column">
            <h2>Balancing electricity supply and demand</h2>
            <p id='autobuild_text'><span id='pathway_balancing_ccgt'></span> GW of conventional gas electricity generation plant has been assumed to have been built by 2050, to cover the gap between average electricity demand and the amount of low carbon generation selected in this pathway.</p>
            <p>This tool does not model the hourly, daily or even seasonal operation of the electricity grid. It presents annual averages. Therefore it does not correctly represent the peaks and troughs of electricity demand.</p>
            <p>To go some way to addressing this flaw, the tool applies a simulated stress test to your pathway of five cold, almost windless, days. This is described in more detail <a href="/assets/onepage/49.pdf" target="_new">here</a>. In this case, the stress test implies that <span id='pathway_balancing_peaking'></span> GW of additional peaking plant may be required for supply to meet demand over that period.</p>
            <p>You can influence the amount of peaking plant by changing your choice level of 'storage, demand shifting &amp; interconnection' below right,or by reducing the amount of intermittent renewable generation, or by reducing the demand for electricity</p>
          </div>
          <div id="imports" class="column">
            <h2>Dependence on imported energy</h2>
            <p>The calculator assumes that any available biomass is preferred over fossil fuels and that domestically produced fuels are preferred over imports.It assumes that fossil fuels are imported to cover any shortfall.</p>
            <table id="imports">
              <tr><th class="description"></th><th colspan="2" class="year">2007</th><th></th><th colspan="2" class="year">2050</th></tr>
              <tr><th class="description">Imports</th><th class="value">TWh/yr</th><th class="value">%</th><th></th><th class="value">TWh/yr</th><th class="value">%</th></tr>
            </table>
          </div>
          <div id="diversity" class="column">
            <h2>Diversity of energy sources</h2>
            <p>There may be a benefit from maintaining a diversity of energy sources:</p>
            <table id="diversity">
              <tbody>
              <tr><th class="description">Proportion of energy supply</th><th class="year">2007</th><th></th><th class="year">2050</th></tr>
              </tbody>
            </table>
          </div>
          <div class="clear"></div>
        </div>
      </div>

</div>

<!--
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- 
<script src='/assets/<%= assets['BootSideMenu.js']%>' type='text/javascript'></script>
-->

<script type="text/javascript">
  
</script>  
<script type="text/javascript">
  /**
 * BootSideMenu v 1.0
 * Author: Andrea Lombardo
 * http://www.lombardoandrea.com
 * https://github.com/AndreaLombardo/BootSideMenu
 * */
(function ($) {

    $.fn.BootSideMenu = function (userOptions) {

        var initialCode;
        var newCode;
        var menu;
        var prevStatus;
        var body = {};

        var defaults = {
            side: "left",
            duration: 500,
            remember: true,
            autoClose: false,
            pushBody: true,
            closeOnClick: true,
            width: "15%",
            onTogglerClick: function () {
                //code to be executed when the toggler arrow was clicked
            },
            onBeforeOpen: function () {
                //code to be executed before menu open
            },
            onBeforeClose: function () {
                //code to be executed before menu close
            },
            onOpen: function () {
                //code to be executed after menu open
            },
            onClose: function () {
                //code to be executed after menu close
            },
            onStartup: function () {
                //code to be executed when the plugin is called
            }
        };

        var options = $.extend({}, defaults, userOptions);


        body.originalMarginLeft = $("body").css("margin-left");
        body.originalMarginRight = $("body").css("margin-right");
        body.width = $("body").width();

        initialCode = this.html();

        newCode = "	<div class=\"menu-wrapper\">\n" + initialCode + " </div>";
        newCode += "<div class=\"toggler\" data-whois=\"toggler\">";
        newCode += "	<span class=\"glyphicon\">&nbsp;</span>";
        newCode += "</div>";

        this.empty();
        this.append(newCode);

        menu = $(this);

        menu.addClass("container");
        menu.addClass("bootsidemenu");
        menu.css("width", options.width);

        if (options.side == "left") {
            menu.addClass("bootsidemenu-left");
        } else if (options.side == "right") {
            menu.addClass("bootsidemenu-right");
        }

        menu.id = menu.attr("id");
        menu.cookieName = "bsm2-" + menu.id;
        menu.toggler = $(menu.children()[1]);
        menu.originalPushBody = options.pushBody;
        menu.originalCloseOnClick = options.closeOnClick;


        if (options.remember) {
            prevStatus = readCookie(menu.cookieName);
        } else {
            prevStatus = null;
        }


        forSmallBody();

        switch (prevStatus) {
            case "opened":
                startOpened();
                break;
            case "closed":
                startClosed();
                break;
            default:
                startDefault();
                break;
        }

        if (options.onStartup !== undefined) {
            options.onStartup(menu);
        }

        $("[data-toggle=\"collapse\"]", menu).each(function () {
            var icona = $("<span class=\"glyphicon glyphicon-chevron-right\"></span>");
            $(this).prepend(icona);
        });

        menu.off("click", "[data-whois=toggler]");
        menu.on("click", "[data-whois=toggler]", function () {
            toggle();
            if (options.onTogglerClick !== undefined) {
                options.onTogglerClick(menu);
            }
        });

        menu.off("click", ".list-group-item");
        menu.on("click", ".list-group-item", function () {
            menu.find(".list-group-item").each(function () {
                $(this).removeClass("active");
            });
            $(this).addClass("active");
            $(".glyphicon", this).toggleClass("glyphicon-chevron-right").toggleClass("glyphicon-chevron-down");
        });


        menu.off("click", "a.list-group-item");
        menu.on("click", "a.list-group-item", function () {
            if (options.closeOnClick) {
                if ($(this).attr("data-toggle") != "collapse") {
                    closeMenu(true);
                }
            }
        });


        function toggle() {
            if (menu.status == "opened") {
                closeMenu(true);
            } else {
                openMenu(true);
            }
        }

        function switchArrow(side) {
            var span = menu.toggler.find("span.glyphicon");
            if (side == "left") {
                span.removeClass("glyphicon-chevron-left").addClass("glyphicon-chevron-right");
            } else if (side == "right") {
                span.removeClass("glyphicon-chevron-right").addClass("glyphicon-chevron-left");
            }
        }

        function startDefault() {
            if (options.side == "left") {
                if (options.autoClose) {
                    menu.status = "closed";
                    menu.hide().animate({
                        left: -(menu.width() + 2)
                    }, 1, function () {
                        menu.show();
                        switchArrow("left");
                    });
                } else if (!options.autoClose) {
                    switchArrow("right");
                    menu.status = "opened";
                    if (options.pushBody) {
                        $("body").css("margin-left", menu.width() + 20);
                    }
                }
            } else if (options.side == "right") {
                if (options.autoClose) {
                    menu.status = "closed";
                    menu.hide().animate({
                        right: -(menu.width() + 2)
                    }, 1, function () {
                        menu.show();
                        switchArrow("right");
                    });
                } else {
                    switchArrow("left");
                    menu.status = "opened";
                    if (options.pushBody) {
                        $("body").css("margin-right", menu.width() + 20);
                    }
                }
            }
        }

        function startClosed() {
            if (options.side == "left") {
                menu.status = "closed";
                menu.hide().animate({
                    left: -(menu.width() + 2)
                }, 1, function () {
                    menu.show();
                    switchArrow("left");
                });
            } else if (options.side == "right") {
                menu.status = "closed";
                menu.hide().animate({
                    right: -(menu.width() + 2)
                }, 1, function () {
                    menu.show();
                    switchArrow("right");
                })
            }
        }

        function startOpened() {
            if (options.side == "left") {
                switchArrow("right");
                menu.status = "opened";
                if (options.pushBody) {
                    $("body").css("margin-left", menu.width() + 20);
                }

            } else if (options.side == "right") {
                switchArrow("left");
                menu.status = "opened";
                if (options.pushBody) {
                    $("body").css("margin-right", menu.width() + 20);
                }
            }
        }

        function closeMenu(execFunctions) {
            if (execFunctions) {
                if (options.onBeforeClose !== undefined) {
                    options.onBeforeClose(menu);
                }
            }
            if (options.side == "left") {

                if (options.pushBody) {
                    $("body").animate({marginLeft: body.originalMarginLeft}, {duration: options.duration});
                }

                menu.animate({
                    left: -(menu.width() + 2)
                }, {
                    duration: options.duration,
                    done: function () {
                        switchArrow("left");
                        menu.status = "closed";

                        if (execFunctions) {
                            if (options.onClose !== undefined) {
                                options.onClose(menu);
                            }
                        }
                    }
                });
            } else if (options.side == "right") {

                if (options.pushBody) {
                    $("body").animate({marginRight: body.originalMarginRight}, {duration: options.duration});
                }

                menu.animate({
                    right: -(menu.width() + 2)
                }, {
                    duration: options.duration,
                    done: function () {
                        switchArrow("right");
                        menu.status = "closed";

                        if (execFunctions) {
                            if (options.onClose !== undefined) {
                                options.onClose(menu);
                            }
                        }
                    }
                });
            }

            if (options.remember) {
                storeCookie(menu.cookieName, "closed");
            }

        }

        function openMenu(execFunctions) {

            if (execFunctions) {
                if (options.onBeforeOpen !== undefined) {
                    options.onBeforeOpen(menu);
                }
            }

            if (options.side == "left") {

                if (options.pushBody) {
                    $("body").animate({marginLeft: menu.width() + 20}, {duration: options.duration});
                }

                menu.animate({
                    left: 0
                }, {
                    duration: options.duration,
                    done: function () {
                        switchArrow("right");
                        menu.status = "opened";

                        if (execFunctions) {
                            if (options.onOpen !== undefined) {
                                options.onOpen(menu);
                            }
                        }
                    }
                });
            } else if (options.side == "right") {

                if (options.pushBody) {
                    $("body").animate({marginRight: menu.width() + 20}, {duration: options.duration});
                }

                menu.animate({
                    right: 0
                }, {
                    duration: options.duration,
                    done: function () {
                        switchArrow("left");
                        menu.status = "opened";

                        if (execFunctions) {
                            if (options.onOpen !== undefined) {
                                options.onOpen(menu);
                            }
                        }
                    }
                });
            }

            if (options.remember) {
                storeCookie(menu.cookieName, "opened");
            }
        }


        function forSmallBody() {
            var windowWidth = $(window).width();

            if (windowWidth <= 480) {
                options.pushBody = false;
                options.closeOnClick = true;
            } else {
                options.pushBody = menu.originalPushBody;
                options.closeOnClick = menu.originalCloseOnClick;
            }
        }

        function storeCookie(nome, valore) {
            var d = new Date();
            d.setTime(d.getTime() + (24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = nome + "=" + valore + "; " + expires + "; path=/";
        }

        function readCookie(nome) {
            var name = nome + "=";
            var ca = document.cookie.split(";");
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == " ")
                    c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return null;
        }


        function onResize() {
            forSmallBody();
            if (menu.status == "closed") {
                startClosed();
            }
            if (menu.status == "opened") {
                startOpened();
            }
        }

        var resizeStart;
        var resizeEnd;
        var wait = 250;
        window.addEventListener("resize", function () {
            resizeStart = new Date().getMilliseconds();
            resizeEnd = resizeStart + wait;
            setTimeout(function () {
                var now = new Date().getMilliseconds();
                if (now > resizeEnd) {
                    onResize();
                }
            }, wait);
        }, false);

        return this;
    }
}(jQuery));

</script>  
<!--
<script type="text/javascript">
    $(document).ready(function () {
        $('#lever_nav_panel').BootSideMenu({
    side: "left",
    width: "350px"
    
    });
    });
</script>
-->

  </body>
</html>
